@import "./color";

/* http://coliss.com/articles/build-websites/operation/css/css-simple-sticky-footer-by-melissa.html */
html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: black;
  color: white;
}

.react-progress-bar-spinner {
  display: none;
}

.space {
  white-space: pre;
}

h1, h2, h3, h4, h5, h6 {
  color: #888888;
}
