/* http://coliss.com/articles/build-websites/operation/css/css-simple-sticky-footer-by-melissa.html */
html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: black;
  color: white;
}

.react-progress-bar-spinner {
  display: none;
}
