# -*- mode: yaml;  -*-
parser: 'babel-eslint'
rules:
  indent:
    - 2
    - 2
  quotes:
    - 2
    - single
  linebreak-style:
    - 2
    - unix
  semi:
    - 2
    - always
  no-unused-vars:
    - 2
    -
      vars: all
      args: after-used
  comma-dangle:
    - 2
    - always-multiline
  react/jsx-uses-vars: 1
  react/jsx-uses-react: 1
  react/jsx-no-undef: 1
env:
  es6: true
  node: true
  browser: true
extends: 'eslint:recommended'
ecmaFeatures:
  jsx: true
  experimentalObjectRestSpread: true
  modules: true
plugins:
  - react
