@import "../size";

@define-mixin gallery-size $pad: 0px {
  @mixin col2 {
    width: calc(100vw / 2 - $pad);
    height: calc((100vw / 2 - $pad) * (3 / 4));
  }
  @mixin col3 {
    width: calc(100vw / 3 - $pad * 2 / 3);
    height: calc((100vw / 3 - $pad * 2 / 3) * (3 / 4));
  }
  @mixin col4 {
    width: calc(100vw / 4 - $pad / 2);
    height: calc((100vw / 4 - $pad / 2) * (3 / 4));
  }
  @mixin fixed {
    width: calc($fixed-width / 4 - $pad / 2);
    height: calc(($fixed-width / 4 - $pad / 2) * (3 / 4));
  }
}
@define-mixin gallery-font-size $weight {
  @mixin col2 {
    font-size: calc(100vw / 2 * $weight);
  }
  @mixin col3 {
    font-size: calc(100vw / 3 * $weight);
  }
  @mixin col4 {
    font-size: calc(100vw / 4 * $weight);
  }
  @mixin fixed {
    font-size: calc($fixed-width / 4 * $weight);
  }
}
@define-mixin gallery-icon-size $weight {
  @mixin col2 {
    width: calc(50vw * $weight);
    min-width: calc(50vw * $weight);
    height: calc(50vw * $weight);
  }
  @mixin col3 {
    width: calc(33.33vw * $weight);
    min-width: calc(33.33vw * $weight);
    height: calc(33.33vw * $weight);
  }
  @mixin col4 {
    width: calc(25vw * $weight);
    min-width: calc(25vw * $weight);
    height: calc(25vw * $weight);
  }
  @mixin fixed {
    width: calc($fixed-width / 4 * $weight);
    min-width: calc($fixed-width / 4 * $weight);
    height: calc($fixed-width / 4 * $weight);
  }
}
