@import "../size";
@import "../color";

.class-header {
  width: $contentsWidth;
  height: $classHeaderHeight;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 50px 10px black inset;
  .title-wrapper {
    /* display: table-cell; */
    /* vertical-align: bottom; */
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 40px 20px 10px;
    background: linear-gradient(180deg, transparent 0%, black 100%);
    .id {
      color: $text;
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 5px;
    }
    .title-prize {
      display: flex;
      justify-content: space-between;
      font-size: 40px;
      .title {
        color: $text;
        margin: 0;
        padding: 0;
      }
      .prizes {
        margin: 0;
        padding: 0;
        .prize {
          list-style-type: none;
          border: 2px solid;
          border-radius: 10px;
          margin-top: -6px;
          padding: 4px 18px;
          margin-left: 20px;
        }
      }
    }
  }
  .header-image {
    /* ref: http://deerest.co/2015/10/22/css3-img-center-trimming/ */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
