@import "../color";
@import "../size";

.class-tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0 30px;
  padding: 0;
  .class-tab {
    list-style-type: none;
    display: block;
  }
  .class-tab-active {
    border-bottom: 3px solid;
    border-color: $theme;
    padding-bottom: 3px;
  }
  .class-text {
    display: inline-block;
    color: $text;
    width: 100%;
    text-align: center;
    &:hover,
    &:focus,
    &:active {
      color: $theme;
      text-decoration: none;
    }

    @mixin smartphone {
      font-size: 14px;
    }
    @mixin tablet {
      font-size: 16px;
    }
    @mixin laptop {
      font-size: 19px;
    }
  }
  .class-text-active {
    color: $theme;
  }
}
