@import "../color";

.class-thumbnail {
  position: relative;
  transition: 0.2s linear;
  &:hover {
    box-shadow: 0 0 20px 3px black;
    z-index: 10;
  }
  .class-image {
    width: 100%;
  }
  .class-title {
    color: $text;
    position: absolute;
    display: inline-block;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
  }
}
