@import "../color";
@import "../util/object-fit";

.class-header {
  width: 100%;
  height: 260px;                /* the reason why not min-height is that vertical-align (flex column) does not work */
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 50px 10px black inset;
  .title-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 40px 20px 10px;
    background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.65) 50%, black 100%);
    .id {
      color: $text;
      margin-top: 0;
      margin-bottom: 5px;
      @mixin fluid {
        font-size: calc(16px + 0.8vw);
      }
      @mixin fixed {
        font-size: calc($fixed-width * 0.0205);
      }
    }
    .title-prize {
      display: flex;
      justify-content: space-between;
      @mixin fluid {
        font-size: calc(22px + 2.1vw);
      }
      @mixin fixed {
        font-size: calc($fixed-width * 0.038);
      }
      .title {
        color: $text;
        margin: 0;
        padding: 0;
      }
      .prizes {
        margin: 0;
        padding: 0;
        .prize {
          list-style-type: none;
          margin-left: 20px;
          .prize-icon {
            fill: currentColor;
            width: calc(24px + 1.2vw);
            height: calc(24px + 1.2vw);
          }
        }
      }
    }
  }
  .header-image {
    @mixin object-fit-item;
    width: 100%;
    height: auto;
    z-index: -1;
  }
}
