@import "../color";

@define-mixin fes-text $top, $small, $medium, $large {
  color: $text;
  position: absolute;
  top: $top;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  @media (max-width: 599px) {
    font-size: $small;
  }
  @media (min-width: 600px) and (max-width: 1023px) {
    font-size: $medium;
  }
  @media (min-width: 1024px) {
    font-size: $large;
  }
}

@define-mixin fes-theme-text {
  @mixin fes-text 30%, 10vw, 7vw, 54px;
  text-shadow: 0 0 7px black;
}

@define-mixin fes-small-text $top {
  @mixin fes-text $top, 4.2vw, 2.7vw, 24px;
  font-weight: lighter;
  text-shadow: 0 0 3px black;
}

.festival-thumbnail {
  position: relative;
  transition: 0.2s linear;
  width: 100%;
  .times {
    @mixin fes-small-text 15%;
  }
  .theme {
    @mixin fes-theme-text;
  }
  .roman {
    @mixin fes-small-text 67%;
  }
  .image-normal {
    transition: 0.2s linear;
    width: 100%;
    height: auto;
    filter: brightness(0.5);
    object-fit: cover;
  }
  .image-hover {
    filter: brightness(1.0);
  }
}
