@import "../color";
@import "../util/object-fit";

@define-mixin fes-text $top, $small, $medium, $large {
  color: $text;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 599px) {
    font-size: $small;
  }
  @media (min-width: 600px) and (max-width: 1023px) {
    font-size: $medium;
  }
  @media (min-width: 1024px) {
    font-size: $large;
  }
}

@define-mixin fes-theme-text {
  @mixin fes-text 30%, 10vw, 7vw, 54px;
  text-shadow: 0 0 7px black;
}

@define-mixin fes-small-text $top {
  @mixin fes-text $top, 4.2vw, 2.7vw, 24px;
  font-weight: lighter;
  text-shadow: 0 0 3px black;
}

.festival-thumbnail {
  transition: 0.2s linear;
  width: 100%;
  height: 100%;
  display: inline-block;
  @mixin object-fit-wrapper;
  .image {
    @mixin object-fit-item;
    transition: 0.2s linear;
    filter: brightness(0.5);
  }
  &:hover {
    .image {
      filter: brightness(1.0);
    }
  }
  .themes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    padding: 10% 0;
    .times {
      @mixin fes-small-text 15%;
    }
    .theme {
      @mixin fes-theme-text;
    }
    .roman {
      @mixin fes-small-text 67%;
    }
  }
}
