@import "../size";
@import "../color";

$font-size: 12px;
$footer-height: 70px;

.footer {
  height: $footer-height;
  width: 100%;
  background-color: #06060a;
  position: absolute;
  bottom: 0;
  color: $gray;
  font-size: $font-size;
  .footer-wrapper {
    margin: auto;
    height: 100%;
    padding: 0 $padding 0;
    @media (max-width: calc($col2-width - 1)) {
      width: 100%;
      text-align: center;
      padding-top: 2px;
    }
    @media (min-width: $col2-width) and (max-width: calc($fixed-width - 1px)) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    @media (min-width: $fixed-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: $fixed-width;
    }

    .footer-left {
      padding: 0;
    }

    .footer-link {
      text-decoration: none;
      color: $gray;
      &:hover,
      &:focus {
        text-decoration: none;
        color: $theme;
      }
    }
  }
}
