@import "../size";
@import "../color";

$fontSize: 12px;

.footer {
  height: $footerHeight;
  width: 100%;
  background-color: #06060a;
  position: absolute;
  bottom: 0;
  color: $gray;
  font-size: $fontSize;
  .footer-wrapper {
    margin: auto;
    height: $footerHeight;
    padding: 0 $padding 0;
    @media (max-width: 599px) {
      width: 100%;
      text-align: center;
      padding-top: 2px;
    }
    @media (min-width: 600px) and (max-width: 1023px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1024px;
    }

    .footer-left {
      padding: 0;
      .footer-link {
        text-decoration: none;
        color: $gray;
        &:hover,
        &:focus {
          text-decoration: none;
          color: $theme;
        }
      }
    }
  }
}
