@import "../color";
@import "../size";
@import "../util/ghost-button";
@import "../util/reset";

.header {
  background: linear-gradient(30deg, rgba(0, 0, 50, 0.8), rgba(50, 0, 0, 0.8));
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 1);
  z-index: 100;                 /* react-image uses 999-1001 */
  @mixin smartphone {
    height: 40px;
  }
  @mixin not-smartphone {
    height: 50px;
  }
  &:hover {
    background: linear-gradient(30deg, rgba(0, 0, 50, 0.9), rgba(50, 0, 0, 0.9));
  }
  .header-wrapper {
    margin: auto;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    @mixin fluid {
      width: 100%;
    }
    @mixin fixed {
      width: $fixed-width;
    }
    nav {
      height: 100%;
    }
    .header-left {
      @mixin no-margin;
      display: flex;
      align-items: center;
      height: 100%;
      li {
        list-style-type: none;
        h1 { /* to reset elemental.css */
          font-size: 0;
          margin: 0;
          .logo {
            @mixin smartphone {
              height: 30px;
            }
            @mixin not-smartphone {
              height: 40px;
            }
          }
        }
        .menu-link {
          color: $text;
          text-decoration: none;
          &:hover, &:focus {
            text-decoration: none;
            color: $theme;
          }
          @mixin smartphone {
            font-size: 15px;
            margin-left: 16px;
          }
          @mixin not-smartphone {
            font-size: 17px;
            margin-left: 27px;
          }
        }
      }
    }

    .header-right {
      height: 100%;
      .header-not-loggedin {
        display: flex;
        align-items: center;
        height: 100%;
        .menu-button {
          @mixin ghost-button $green, $text;
        }
        @mixin smartphone {
          .menu-button {
            font-size: 13px;
          }
          .signup {
            display: none;
          }
        }
        @mixin not-smartphone {
          .menu-button {
            font-size: 16px;
            margin-left: 14px;
          }
        }
      }
      .header-loggedin {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }
}
