@import "../color";
@import "../size";
@import "../util/ghost-button";
@import "../util/reset";

.header {
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.1s linear;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 1);
  z-index: 10000;
  @media (max-width: 499px) {
    height: 40px;
  }
  @media (min-width: 500px) {
    height: 50px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .header-wrapper {
    margin: auto;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    @media (max-width: 1023px) {
      width: 100%;
    }
    @media (min-width: 1024px) {
      width: 1024px;
    }
    nav {
      height: 100%;
    }
    .header-left {
      @mixin no-margin;
      display: flex;
      align-items: center;
      height: 100%;
      li {
        list-style-type: none;
        h1 { /* to reset elemental.css */
          font-size: 0;
          margin: 0;
          .logo {
            @media (max-width: 499px) {
              height: 30px;
            }
            @media (min-width: 500px) {
              height: 40px;
            }
          }
        }
        .menu-link {
          color: $text;
          text-decoration: none;
          &:hover, &:focus {
            text-decoration: none;
            color: $theme;
          }
          @media (max-width: 499px) {
            font-size: 15px;
            margin-left: 16px;
          }
          @media (min-width: 500px) {
            font-size: 17px;
            margin-left: 27px;
          }
        }
      }
    }

    .header-right {
      height: 100%;
      .header-not-loggedin {
        display: flex;
        align-items: center;
        height: 100%;
        .menu-button {
          @mixin ghost-button $green, $text;
        }
        @media (max-width: 499px) {
          .menu-button {
            font-size: 13px;
          }
          .signup {
            display: none;
          }
        }
        @media (min-width: 500px) {
          .menu-button {
            font-size: 16px;
            margin-left: 14px;
          }
        }
      }
    }
  }
}
