@import "../util/icon";
@import "../size";

.resource-list {
  list-style-type: none;
  width: 100%;
  @mixin not-smartphone {
    padding: 0 10px;
  }
  @mixin smartphone {
    padding: 0;
  }
  .title {
    display: block;
    color: $text;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .tags {
    margin: 0 0 10px;
  }
  .editors {
    display: flex;
    font-size: 12px;
    color: #aaaaaa;
    div {
      margin-right: 12px;
    }
    .icon {
      @mixin icon 24px;
    }
  }
  > li {
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid gray;
  }
}
