@import "../color";

@define-mixin tag $fg, $bg {

  display: inline-block;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;

  color: $fg;
  background-color: $bg;

  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin: 0 16px 8px 0;
  padding: 0 10px 0 8px;
  &:after {
    content: '';
    position: absolute;

    width: 0;
    height: 0;
    left: -10px;
    top: 0;

    border-style: solid;
    border-color: transparent $bg transparent transparent;
    border-width: 10px 10px 10px 0;
  }
  &:hover {
    text-decoration: none;
    color: $fg;
  }
}

.class-tag {
  @mixin tag #333333, #dddddd;
}
