@import "../color";

@define-mixin tag $fg, $bg {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin: 0 16px 8px 0;
  padding: 0 10px 0 12px;
  background-color: $bg;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  color: $fg;
  font-size: 12px;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-weight: bold;
  &:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent $bg transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
  }
  &:hover {
    text-decoration: none;
    color: $fg;
  }
}

.class-tag {
  @mixin tag $text, #DF7401;
}
