@import "../color";

@define-mixin tag $fg, $bg {

  display: inline-block;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;

  color: $fg;
  background-color: $bg;

  font-size: 11px;
  height: 18px;
  line-height: 18px;
  margin: 0;
  padding: 0 6px 0 4px;
  white-space: nowrap;
  &:after {
    content: '';
    position: absolute;

    width: 0;
    height: 0;
    left: -9px;
    top: 0;

    border-style: solid;
    border-color: transparent $bg transparent transparent;
    border-width: 9px 9px 9px 0;
  }
  &:hover {
    text-decoration: none;
    color: $fg;
  }
}

.class-tag {
  @mixin tag #008000, #ddfddd;
}

.resource-tag {
  @mixin tag #000080, #ddddfd;
}

.tags {
  display: flex;
  list-style-type: none;
  padding: 0;
  li {
    margin: 0 16px 0 0;
  }
}
