@import "../color";
@import "../size";

.user-dropdown {
  display: flex;
  align-items: center;
  height: 36px;
  cursor: pointer;
  .name {
    font-size: 14px;
    margin-left: 10px;
    color: $text;
    @mixin smartphone {
      display: none;
    }
    &:hover, &:focus {
      color: $theme;
    }
  }
}
