@import "../size";

.app-wrapper {
  padding-bottom: 100px;
  .container {
    padding: 0;
    /* for header height */
    @media (max-width: 499px) {
      margin: 40px auto 0;
    }
    @media (min-width: 500px) {
      margin: 50px auto 0;
    }
    /* for width */
    @media (max-width: 1023px) {
      width: 100%;
    }
    @media (min-width: 1024px) {
      width: 1024px;
    }
    .padding-container {
      padding: 0 $padding;
    }
  }
}
