@import "../size";

.app-wrapper {
  padding-bottom: 100px;
  .container {
    margin: calc($headerHeight + 10) auto 0;
    padding: 0 $padding;
    @media (max-width: $pcWidth) {
      width: 100%;
    }
    @media (min-width: $pcWidth) {
      width: $pcWidth;
    }
  }
}
