@import "../util/gallery";

.festival-thumbnails {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @mixin gallery-size;
  }
}
