.festival-thumbnails {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @media (max-width: 599px) {
      width: 50vw;
      height: 37.5vw;
    }
    @media (min-width: 600px) and (max-width: 1023px) {
      width: 33.3vw;
      height: 25vw;
    }
    @media (min-width: 1024px) {
      width: 256px;
      height: 192px;
    }
  }
}
