@import "../util/object-fit";
@import "../util/gallery";

.class-images {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    padding: 2px;
    @mixin gallery-size;
    .class-image-wrapper {
      @mixin object-fit-wrapper;
      width: 100%;
      height: 100%;
      display: block;
      .class-image {
        @mixin object-fit-item;
      }
    }
  }
}

.class-image-loading {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}
.class-image-not-loading {
  display: none;
}
