@import "../util/gallery";

.times-classes {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: wrap;
  align-items: center;
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @mixin gallery-size;
  }
}
