$num-images: 20;
$num-images-1: 19; /* num-images - 1 */
$switch-sec: 8;

@keyframes jumbotronAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  2% { /* 30 / $num-images */
    opacity: 1;
    transform: scale(1.04);
    animation-timing-function: ease-out;
  }
  4% { /* 100 / $num-images - 10 / $num-images */
    opacity: 1;
    transform: scale(1.1);
  }
  6% { /* 100 / $num-images + 10 / $num-images */
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.home-jumbotron {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;             /* to hide white blur */
  .background-images {
    li {
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      animation: jumbotronAnimation calc($num-images * $switch-sec)s linear infinite 0s;
      @for @i from 1 to $num-images-1 {
        &:nth-child(@i) {
          animation-delay: calc($switch-sec * @i)s;
        }
      }
    }
  }
  .background-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .jumbotron-logo {
    position: absolute;
    max-width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
  }
  .jumbotron-down {
    position: absolute;
    text-align: center;
    width: 100px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 6%;
    z-index: 9;
    i {
      margin: auto;
      font-size: 70px;
      color: #ddd;
    }
  }
}
