@import "../color";
@import "../size";

.howto {
  .two-columns {
    .column-title {
      margin: 20px 0 30px;
      color: $text;
      text-align: center;
    }
    .column {
      padding: 10px;
      margin-bottom: 16px;
      @mixin fixed {
        width: calc($fixed-width / 2 - 15px);
      }
      @mixin fluid {
        @mixin laptop {
          width: calc(50% - 15px);
        }
        @mixin not-laptop {
          width: 100%;
        }
      }
    }
    @mixin laptop {
      display: flex;
      justify-content: space-between;
    }
  }
  .more-load {
    margin: 14px auto 16px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
    cursor: pointer;
    text-decoration: underline;
  }
}
